.App {
  text-align: center;
  background-color: #e9e8ee;
  min-height: 100vh;
}

.app-container {
  display: flex;
  min-height: 100%;
  background: #ccc4c4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ccc4c4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #12824c;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  flex: 1;
  overflow: auto;
  height: 100vh;
}

.split-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: none;
}

.left-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  background: #d4e8d8;
  position: relative;
  overflow: hidden;
}

.right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  background: #0a2217;
  border-left: 1px solid #12824c;
  position: relative;
  overflow: hidden;
}

/* ?? */
/* Responsive */
@media (max-width: 768px) {
  .split-layout {
    flex-direction: column;
  }

  .right-panel {
    border-left: none;
    border-top: none;
  }
}
